.singlePost{
    flex:3;
}

.wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.singlePostImg{
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 8px;
}

.singlePostHeading{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 30px;
    text-align: center;
}

.singlePostTitle{
    /* margin: 10px; */
    text-align: center;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 500;
}

.editTitleInput{
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(45, 43, 43);
}

.editTitleInput:focus{
    outline: none;
}

.singlePostEdit{
    float: right;
}

.singlePostIcon{
    margin-left:5px;
    cursor: pointer;
    font-size: 20px;
}

.singlePostIcon:first-child{
    color: green;
}

.singlePostIcon:last-child{
    color:red;
}

.singlePostInfo{
    margin-top: 10px;
}

.authorName{
    color:rgb(178, 132, 6);
    font-size: 17px;
    font-family: 'Lato';
}

.uploadTime{
    float: right;
    color:rgb(178, 132, 6);
    font-size: 17px;
    font-family: 'PT Sans';
}

.singlePostDesc{
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
    color:#666;
    font-family: 'Roboto';
}

.singlePostDesc::first-letter{
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}

.editBlogDesc{
    border: none;
    margin-top: 15px;
    font-size: 18px;
}

.editBlogDesc:focus{
    outline: none;
}

.updateBlogBtn{
    border: none;
    background: teal;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    align-self: flex-end;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}
